<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <h3>【密码守护者 - 用户须知与免责声明】</h3>
    <span><strong>尊敬的用户：</strong></span>
    <p class="paragraph">欢迎使用 【密码守护者】，一款致力于为您日常生活中的常用密码提供安全存储解决方案的软件。</p>
    <p class="paragraph">我们深知密码管理的重要性，但也请您理解并接受以下几点重要提示：</p>
    <ul>
        <li>
            合理使用，风险自担：本软件旨在帮助您管理如社交媒体、邮箱等非金融类账户的密码。强烈建议避免存储涉及资金交易的重要密码，例如银行卡、支付宝及微信支付密码等。您的安全意识是第一道防线。
        </li>
        <li>
            牢记登录密码：为保障账户安全，若您遗失【密码守护者】的登录密码，当前版本暂不提供找回服务。请务必妥善保管您的登录信息，这是访问您所有存储密码的唯一途径。
        </li>

        <li>
            安全声明：虽然我们持续优化软件的安全性能，但任何电子设备和网络环境都无法保证绝对安全。使用本软件存储密码存在一定的风险，一旦发生密码泄露、丢失等情况，作者不承担任何责任。我们鼓励用户采取多层防护措施，如定期更换密码，增加复杂度等。
        </li>

        <li>隐私保护承诺：【密码守护者】严格遵守隐私政策，<strong>承诺不联网，不收集、不分享您的任何个人信息。您的数据仅存储于本地设备，</strong> 确保最大程度的隐私安全。
        </li>
    </ul>
    <p class="paragraph">
        通过阅读并接受上述条款，您将能继续享受【密码守护者】带来的便捷与安心。我们感谢您的理解与支持，愿与您共同守护数字生活中的每一串重要密码。</p>
    <p class="paragraph team-name">—— 密码守护者团队</p>

</div>
</body>
</html>
<style>
    .content {
        font-size: 15px;
        line-height: 1.4
    }

    h3 {
        text-align: center;
    }

    li {
        line-height: 1.5
    }

    .paragraph {
        text-indent: 2em;
    }

    .team-name {
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold
    }
</style>

